
# Config files
config/.env
config/.env.local
config/.env.local.example

# Node modules
node_modules/

# Next.js build output
.next/

# Logs
logs
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?